<a href="https://colab.research.google.com/github/jdb9971/ATM-MANAGEMENT-SYSTEM-/blob/main/IRA_TCS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
    def __init__(self,name,id,age,gender):
        self.name=name
        self.id=id
        self.age=age
        self.gender=gender

class Salary:
    def __init__(self,pay):
      self.pay=pay
          
    def view_salary(self):
      bonus=5000
      total_pay=(self.pay*12)+bonus
      print(total_pay)

class Organization:
    def __init__(self,name,elist):
        self.name=name
        self.elist=elist
    
    def addemployee(self,name,id,age,gender):
        e=Employee(name,id,age,gender)
        self.elist.append(e)
    
    def basic_salary(self,pay):
      s=Salary(pay)
      s.view_salary()
     

    def viewemployee(self):
        print("Employees are :-")
        for i in self.elist:
            print(i.name,end=",")
            print(i.id,end=",")
            print(i.age,end=",")
            print(i.gender,end=",")

        
    def countemployee(self):
        count=len(self.elist)
        print(count)
      
    def emp_find(self,id_find):
      for i in self.elist:
        if i.id == id_find: print(i.name)
    
    def emp_agefind(self,age_find):
      c=0
      for i in self.elist:
        if i.age==age_find:
          c=c+1
      print(f"No. of employees of age {age_find} is {c}")


print('*******Welcome to TCS Xplore*******')
li=[]
o=Organization('TCS',li)
n=int(input("Enter no. of employee :- "))
for i in range(n):
    name=input("\nEnter name :- ")
    id=int(input("Enter id :-"))
    age=int(input('Enter age :- '))
    gender=input('Enter gender :- ')
    salary=int(input("Enter your salary:-"))
    o.addemployee(name,id,age,gender)
    o.basic_salary(salary)

o.viewemployee()
o.countemployee()
#o.emp_find(101)
o.emp_agefind(12)

In [ ]:
class Account:
  def __init__(self,accntNo,accntName,accntBalance):
    self.accntNo=accntNo
    self.accntName=accntName
    self.accntBalance=accntBalance

  def depositAmnt(self,depamnt):
    self.depamnt=depamnt
    self.accntBalance=self.accntBalance+self.depamnt
    return self.accntBalance

  def withdrawAmnt(self,withamnt):
    self.withamnt=withamnt
    if True:
      print("No Adequate balance")
    else:
      self.accntBalance=self.accntBalance-self.withamnt
      print(self.accntBalance)
    

acno=120
acname="Rajesh"
acntbal=1500
depamnt=1200
withamnt=2000
acnt=Account(acno,acname,acntbal)
print(acnt.depositAmnt(depamnt))
acnt.withdrawAmnt(withamnt)

2700
No Adequate balance

In [ ]:
a, b, c, d, e = map(str, input("Enter five values\n").split(', '))
acno=int(a)
acname=b
acntbal=int(c)
depamnt=int(d)
withamnt=int(e)

Enter five values
120, Rajesh, 1500, 1200, 2000
120 Rajesh 1500 1200 2000

In [ ]:
class Account:
  def __init__(self,accntNo,accntName,accntBalance):
    self.accntNo=accntNo
    self.accntName=accntName
    self.accntBalance=accntBalance

  def depositAmnt(self,depamnt):
    self.depamnt=depamnt
    self.accntBalance=self.accntBalance+self.depamnt
    return self.accntBalance

  def withdrawAmnt(self,withamnt):
    self.withamnt=withamnt
    if True:
      print("No Adequate balance")
    else:
      self.accntBalance=self.accntBalance-self.withamnt
      print(self.accntBalance)
    

a, b, c, d, e = [x for x in input().split(', ')]
acno=int(a)
acname=b
acntbal=int(c)
depamnt=int(d)
withamnt=int(e)
acnt=Account(acno,acname,acntbal)
print(acnt.depositAmnt(depamnt))
acnt.withdrawAmnt(withamnt)

 120, Rajesh, 1500, 1200, 2000
2700
No Adequate balance

In [ ]:
#1st question of 15 marks was : 
#Take an integer as input . Calculate the sum of its digit . 
#If the sum is divisible by 3 , then print True , else print False .

n='1234'
sum=0
for i in n:
  sum=int(i)+sum
if sum%3==0:
  print("True")
else:
  print("False")

False

In [ ]:
#Dictionary
d={'name':'joy','age':24,'work':'tcs'}
for i in d:
  print(i) #print the values
  print(d[i])#print values

In [ ]:
d={}
C
  d
print(d)

In [ ]:
class create_dict(dict):

    def __init__(self):
        self = dict()

    def add(self, key, value):
        self[key] = value

# example


dct = create_dict()

dct.add('a', 19)
dct.add('b', 21)
print(dct)

{'a': 19, 'b': 21}

In [ ]:
class stock:
    def __init__(self,StockName,StockSector,StockValue):
        self.StockName=StockName
        self.StockSector=StockSector
        self.Stockvalue=StockValue
    
class StockDemo:
    def ___init__(self):
        pass
    
    def getStocklist(self,stock_obj,stk):
        for i in stock_obj:
          if (i.StockName==stk and i.StockValue>500):
              return i.StockName

n=int(input())
slist=[]
for x in range(n):
    sname=input()
    ssector=input()
    svalue=int(input())
    slist.append(stock(sname,ssector,svalue))
stk=input()
cmp=StockDemo()
print(cmp.getStocklist(slist,stk))

In [ ]:
class apartment:
    def __init__(self,flatnumber,ownername,bill):
      self.flatnumber=flatnumber
      self.ownername=ownername
      self.bill=bill

class apartment_demo:
    def __init__(self):
        pass 

    def getSecondMinBill(self,obj_apartment):
        li=[]
        for i in obj_apartment:
            li.append(i.bill)
        l=max(li)  #li.sort()
        li.remove(l)
        k=max(li)
        return k #return li[1]

n=int(input())
f=[]
for j in range(n):
    fnumber=input()
    fowner=input()
    fbill=int(input())
    f.append(apartment(fnumber,fowner,fbill))
ap=apartment_demo()
ap.getSecondMinBill(f)


Create a class Bill with attributes mobile number and payment bill.
Create another class mobile with attributes service provider, mobile number, data used, payment method.
Service provider maybe airtel or jio. Data used is integer values in Gigabytes(GB). Payment method maybe paytm,gpay,amazon and so on.
Create a method calculate bill that takes the list of objects and calculates the bill and returns the list of objects of class bill with mobile number and payment bill.

The payment is calculated as follows:

1.If the service provider is airtel, the bill is Rs.11 for every 1GB used and if it is jio, the bill is Rs.10 for every 1GB used. 
2. If the payment method is paytm there is a cashback of 10% of the total bill for airtel users only. The bill is calculated and rounded off after deducing the cashback value.

input:
3(No of objects to be created) 
airtel 
123 
16 
paytm 
airtel 
456 
10 
amazon 
jio 
788 
10 
paytm 

Output:

(123,158) 
(456,110) 
(789,100)

In [ ]:
class Bill:
  def __init__(self,mob_no,pay_bill):
    self.mob_no=mob_no
    self.pay_bill=pay_bill

class mobile:
  def __init__(self,ser_prov,mob_no,data_used,pay_method):
    self.ser_prov=ser_prov
    self.mob_no=mob_no
    self.data_used=data_used
    self.pay_method=pay_method

  def cal_bill(self,obj):
    li=[]
    for i in obj:
      if i.ser_prov=='airtel':
        pay_bill=11*i.data_used
        if i.pay_method=='paytm':
          pay_bill=pay_bill-(pay_bill*0.1)
      elif i.ser_prov=='jio':
        pay_bill=10*i.data_used
      li.append(Bill(i.mob_no,int(pay_bill)))
    return li

n=int(input())
li1=[]
for j in range(n):
  name=input()
  mob=int(input())
  data=int(input())
  method=input()
  li1.append(mobile(name,mob,data,method))

cus=mobile("",0,0,"")
li2=cus.cal_bill(li1)

for k in li2:
  print(f"({k.mob_no},{k.pay_bill})")

3
airtel
123
16
paytm
airtel
456
10
amazon
jio
788
10
paytm
(123,158)
(456,110)
(788,100)

 Create a function palindrome_list() that takes a list of strings as an argument. returns the list of strings which are only strings

In [ ]:
def palindrome_list(li):
  res=[]
  for i in li:
    p=i.lower()
    if p==p[::-1]:
      res.append(i)
  return res

if  __name__ == '__main__':
 n=int(input())
 li1=[]
 for j in range(n):
  str=input()
  li1.append(str)
 k=palindrome_list(li1)
 for x in k:
  print(x)

In [ ]:
class Book:
  def __init__(self,book_id,book_name):
    self.book_id=book_id
    self.book_name=book_name

class Library:
  def __init__(self,library_id,addres,book_ob):
    self.library_id=library_id
    self.addres=addres
    self.book_ob=book_ob
  
  def count_book(self,char):
    count=0
    for i in self.book_ob:
      if i.book_name[0]==char:
        count=count+1
    return count

  def remove_book(self,li):
    for j in self.book_ob:
      if j.book_name not in li:
        print(j.book_name)

n=int(input())
li=[]
for i in range(n):
  id=int(input())
  name=input()
  li.append(Book(id,name))
found=Library(123,'kol',li)
ch=input()
n1=int(input())
li1=[]
for k in range(n1):
  li1.append(input())
print(found.count_book(ch))
found.remove_book(li1)

3
100
c++ prgoramming
200
sql
300
core java
c
2
sql
python
2
c++ prgoramming
core java

In [ ]:
class Account:
  def __init__(self,accntno,accntName,accntBalance):
    self.accntno=accntno
    self.accntName=accntName
    self.accntBalance=accntBalance

class AccountDemo:
    def __init__(self):
      pass

    def depositAmnt(self,Account_obj,dep_amount):
        Account_obj.accntBalance+=dep_amount
        return Account_obj.accntBalance

    def withdrawAmnt(self,Account_obj,with_amount):
        if (Account_obj.accntBalance<1000):
          return "No Adequate Balance"
        else:
          Account_obj.accntBalance-=with_amount
        return Account_obj.accntBalance

if __name__ == '__main__':
 acno=120
 acname='Rajesh'
 acntbal=1500
 depamnt=1200
 withamnt=5000
 acnt=Account(acno,acname,acntbal)
 acntdemoobj=AccountDemo()
 print(acntdemoobj.depositAmnt(acnt,depamnt))
 print(acntdemoobj.withdrawAmnt(acnt,withamnt))

In [ ]:
class city:
  def __init__(self,city_id,state_name,city_name,covidbeds,avlblbeds,ventibeds,avlblventibeds):
    self.city=city
    self.state_name=state_name
    self.city_name=city_name
    self.covidbeds=covidbeds
    self.avlblbeds=avlblbeds
    self.ventiveds=ventibeds
    self.avlblventibeds=avlblventibeds

class CovBedsAnalysis:
  def __init__(self):
    pass

  def getStateWiseAvlblBedStats(self,city_list):
    for i in city_list:
      for i.state_name!=0
      print(f"{i.state_name} {i.avlblbeds} {i.avlblventibeds}")

  def get_CiitesWithMoreThanAvgOccupiedbeds(self,state):
    pass


#n=int(input())
li=[]
for j in range(n):
  city_id=101 #int(input())
  state_name='delhi' #input()
  city_name='delhi' #input()
  covidbeds=10000 #int(input())
  avlblcovbeds=100 #int(input())
  ventilbeds=20000 #int(input())
  avlblventilbeds=200 #int(input())
  li.append(city(city_id,state_name,city_name,covidbeds,avlblcovbeds,ventilbeds,avlblventilbeds))

g=CovBedsAnalysis()
g.getStateWiseAvlblBedStats(li)

delhi 100 200
delhi 100 200

In [ ]:
li=['delhi','delhi','hyd','kol']
for i in li:
  if li.count(i)>1:
print(i)

IndentationError: ignored

In [ ]:
li=[]
for j in range(n):
  city_id=101 #int(input())
  state_name='delhi' #input()
  city_name='delhi' #input()
  covidbeds=10000 #int(input())
  avlblcovbeds=100 #int(input())
  ventilbeds=20000 #int(input())
  avlblventilbeds=200 #int(input())
  li.append(city_id,state_name,city_name,covidbeds,avlblcovbeds,ventilbeds,avlblventilbeds)

print(li)

In [ ]:
class Container:
  def __init__(self,id,length,breadth,height,priceperSqrFt):
    self.id=id
    self.length=length
    self.breadth=breadth
    self.height=height
    self.priceperSqrFt=priceperSqrFt

  def findVolume(self):
      volume=(self.length*self.breadth*self.height)
      return volume

class PackagingCompany:
  def __init__(self,container_obj):
    self.container_obj=container_obj

  def findContainerCost(self,lid):
    for i in self.container_obj:
      if (i.id==lid):
        k=i.findVolume()
        cost=k*i.priceperSqrFt
        return cost
      return None

  def findLargestContainer(self):
    li1={}
    for i in self.container_obj:
      k1=i.findVolume()
      li1[k1]=i.id
    li1=sorted(li1.items(),reverse=True)
    return li1

n=int(input())
li2=[]
for j in range(n):
  i=int(input())
  l=int(input())
  b=int(input())
  h=int(input())
  p=int(input())
  li2.append(Container(i,l,b,h,p))

id_find=int(input())
obj=PackagingCompany(li2)
res1=obj.findContainerCost(id_find)
if res1==None:
  print("No container found")
else:
  print(res1)
res2=obj.findLargestContainer()
print(res2[0][1], res2[0][0])

In [ ]:
class Product:
  def __init__(self,pname,ptype,unitprice,qtyonhand):
    self.pname=pname
    self.ptype=ptype
    self.unitprice=unitprice
    self.qtyonhand=qtyonhand

class Store:
  def __init__(self,prod_obj):
    self.prod_obj=prod_obj

  def purchaseProduct(self,pname1,pno):
    for i in self.prod_obj:
      if i.pname==pname1 and i.qtyonhand>0:
        if pno>i.qtyonhand:
          bill=i.unitprice*i.qtyonhand
          i.qtyonhand=0
        elif pno<=i.qtyonhand:
          bill=i.unitprice*pno
          i.qtyonhand-=pno
        return bill
    return None

n=int(input())
li=[]
for j in range(n):
  name=input()
  type=input()
  price=int(input())
  qty=int(input())
  li.append(Product(name,type,price,qty))

pname1=input()
pqty=int(input())
res=Store(li)
res1=res.purchaseProduct(pname1,pqty)
if res1==None:
  print("Product is not available")
  for k in res.prod_obj:
    print(k.pname, k.qtyonhand)
else:
  print(res1)
  for k in res.prod_obj:
    print(k.pname, k.qtyonhand)

In [ ]:
class Person:
  def __init__(self,name,height,weight):
    self.name=name
    self.height=height
    self.weight=weight
  
class Society:
  def __init__(self,person_obj):
    self.person_obj=person_obj
    pass

  def findAverageHeight(self):
    li=[]
    for i in self.person_obj:
      li.append(i.height)
      avg=sum(li)/len(li)
    return avg

  def findTallerThanAveragePerson(self):
        l=[]
        avg=self.findAverageHeight()
        for k in self.person_obj:
              if (k.height>avg):
                    l.append(k.name)
        return l

n=int(input())
li1=[]
for k in range(n):
  n=input()
  h=int(input())
  w=int(input())
  li1.append(Person(n,h,w))

res=Society(li1)
print(f"The Average height is {res.findAverageHeight()}")
res2=res.findTallerThanAveragePerson()
print("Persons tallet than Average height")
for m in res2:
      print(m)

In [ ]:
numberGames={}
numberGames[(1,2,3)]=8
numberGames[(4,2,1)]=10
numberGames[(1,2)]=12 
sum=0
for k in numberGames:
  sum+=numberGames[k]
print (len(numberGames)+sum)

33

In [ ]:
a='gOOd moRning'
print(a)
s=str(a)
print(s.title())

gOOd moRning
Good Morning

In [ ]:
import math
print(math.floor(5.9)) #5
print(math.ceil(5.5))#6
print(math.sqrt(36))

5
6
6.0

In [ ]:
Numbers=[1,2,3,4]
Numbers.append(5)
print(len(Numbers))

5

In [ ]:
my_tuple=(1,5,3,9)
my_tuple.update((8,6,7))
print(len(my_tuple))

AttributeError: ignored

In [ ]:
class Employee:
    pass

e=Employee()
e.name='Ram'
e.dept='HR'
e.salary=6000
print(e.name,e.dept,e.salary)

Ram HR 6000

In [ ]:
#What will calculate(2030) return?
def calculate(num):
 i=0
 while num>0:
  i=i*10+num%10
  num=num//10
 return i
n=calculate(2030)
print(n)

In [ ]:

x=1
y="2"
z=4
sum=0
for i in (x,y,z):
if isinstance(i,int):
sum+=i
print(sum)

302

In [ ]:
print([4]*3)

[4, 4, 4]

In [ ]:
print('hello all,welcome to the Python course'.split(  ))

['hello', 'all,welcome', 'to', 'the', 'Python', 'course']

In [ ]:
list1=['Welcome','to','Python']
Which statement will product the following output?
'Welcome to Python'
1.print((lambda x:''.join(x))(list1))
2.def func(x):
    for i in x:
        str+=i+' '
    return str
func(list1)
3.str(list1)
4.def func(x):
    return ' '.join(x)
print(func(list1))

In [ ]:
x=['abc','ab','a']
print(x.sort(key=len(x)))

In [ ]:
class Hotel:
  def __init__(self,regno,hotelName,roomType,Price,wifiFacility):
    self.regno=regno
    self.hotelName=hotelName
    self.roomType=roomType
    self.Price=Price
    self.wifiFacility=wifiFacility

class Myclass:
  def __init__(self,Hotel_obj):
    self.Hotel_obj=Hotel_obj

  def findAverageprice(self,room_type):
    li=[]
    for i in self.Hotel_obj:
      if i.roomType==room_type:
        if i.wifiFacility=="true":
            li.append(i.Price)
        else:
            return None
    avg=sum(li)/len(li)
    print(li)
    return avg
    
  def findwifihotel(self):
    li1=[]
    for i in self.Hotel_obj:
        if (i.wifiFacility=='true'):
            li1.append(i)
        else:
            return None
    return li1   
        
    
  
n=int(input())
l=[]
for j in range(n):
  reg=int(input())
  name=input()
  type1=input()
  price=int(input())
  wifi=input()
  l.append(Hotel(reg,name,type1,price,wifi))

find=input()

obj=Myclass(l)
s=obj.findAverageprice(find)
if s==None:
    print("No such Hotel")
else:
    print(s)
w=obj.findwifihotel()    
if w==None:
    print("No wifi avalaible")
else:
  for k in w:
    print(k.hotelName, k.Price)

In [ ]:
class Medicine:
  def __init__(self,MedicineName,batch,disease,price):
    self.MedicineName=MedicineName
    self.batch=batch
    self.disease=disease
    self.price=price
    
class solution:
    def __init__(self,medicine_obj):
        self.medicine_obj=medicine_obj
        pass
    
    def getPricebyDisease(self,d_type):
        li=[]
        for i in self.medicine_obj:
            if i.disease==d_type:
                li.append(i.price)
        return li
        
n=int(input())
li1=[]
for j in range(n):
    mname=input()
    b=input()
    d=input()
    p=int(input())
    li1.append(Medicine(mname,b,d,p))

dname=input()
obj=solution(li1)
res=obj.getPricebyDisease(dname)
for k in res:
    print(k)

In [ ]:
class Fooditem:
    def __init__(self,item_id,item_name,item_category,item_price):
        self.item_id=item_id
        self.item_name=item_name
        self.item_category=item_category
        self.item_price=item_price
        
    def provideDiscount(self,d):
        if d>0:
         self.item_price-=(d/100*self.item_price)
         return self.item_price
        
class Restaurent:
    def __init__(self,r_name,f_obj):
        self.r_name=r_name
        self.f_obj=f_obj
    
    def retrieveUpdatePrice(self,id2,d1):
        for i in self.f_obj:
            if (i.item_id==id2):
                i.provideDiscount(d1)
                return i
        return None
    
n=int(input())
li=[]
for j in range(n):
    i=int(input())
    n=input()
    c=input()
    p=int(input())
    li.append(Fooditem(i,n,c,p))
id1=int(input())
d2=int(input())
obj=Restaurent("name",li)
res=obj.retrieveUpdatePrice(id1,d2)
if res==None:
  print("No Food item exists which matches the search criteria")
else:
  print(f'{res.item_name}-{res.item_price}')

In [4]:
# cook your dish here
class Player:
    def __init__(self,pname,pcountry,p_age,countryf):
        self.pname=pname
        self.pcountry=pcountry
        self.p_age=p_age
        self.countryf=countryf
        
def countPlayers(player_obj,c):
    count=0
    for i in player_obj:
        if i.countryf==c:
            count+=1
    return count

def getPlayerPlayedForMaxCountry(player_obj):
    d={}
    for k in player_obj:
        d[k.pname]=k.pcountry
    d=sorted(d.items(),reverse=True)
    return d
    
n=int(input())
li=[]
for i in range(n):
    name=input()
    pc=[]
    j=int(input())
    for u in range(j):
        pc.append(input())
    age=int(input())
    cf=input()
    li.append(Player(name,pc,age,cf))
country=input()
print(countPlayers(li,country))
res=getPlayerPlayedForMaxCountry(li)
print(res[0][0])

SyntaxError: ignored